<div [formGroup]="todoForm">
    <h4>Create todo</h4>
    <input formControlName="id" type="number" class="form-control" placeholder="Id">
    <input formControlName="user_id" type="number" class="form-control" placeholder="User ID">
    <input formControlName="title" class="form-control" placeholder="Title">
    <input formControlName="due_on" type="date" class="form-control" placeholder="Due on">
    <button id="createButton" class="btn btn-success" (click)="createTodo()">Create</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">User ID</th>
            <th scope="col">Title</th>
            <th scope="col">Due on</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.user_id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.due_on | date}}</td>
            <td>{{todo.status}}</td>
            <td><button class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button></td>
        </tr>

    </tbody>
</table>